
      
      <div class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn ">


          <div *ngFor="let miembro of _is.equipo" 
          class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
          <img [src]="miembro.url" alt="" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">{{miembro.nombre}}</h5>
            <p class="ae-u-bolder au-mb-3">{{miembro.subtitulo}}</p>
            <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{miembro.frase}}</p>
            <a href="#0" class="ae-u-bolder au-underline">{{miembro.facebook}}</a>
          </div>



        <div class="ae-grid au-pt-2">
          <div class="ae-grid__item item-lg-8 item-lg--offset-2">
            <h4 class="ae-u-bolder">Recomendaciones</h4>
            <p>Te brindamos estas siguientes recomendaciones, para el cuido y trato de nuestros productos además conozca más de sus detalles visitándonos además encontrara gran información de gran utilidad.</p>
          </div>
        </div>

        <div class="ae-grid ae-grid--alt au-xs-ptp-1">
          <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Gerberas</h6>
            <p class="au-lh-3">Esta planta a menudo crece en climas fríos pero con sol y bastante agua marcan su belleza y elegancia se necesita tierra ligera y profunda, para que su cultivo sea beneficioso.</p>
          </div>
          <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Helechos</h6>
            <p class="au-lh-3">Sus raíces no deben estar nunca secas, pero tampoco le recomendamos que rebocen de agua, porque el exceso de la misma podría provocar que sus hojas florecidas se pongan flácidas y se deterioren, como así también cuando no reciben la humedad suficiente pueden marchitarse.</p>
          </div>
          <div class="ae-grid__item--alt item-lg-4">
            <h6 class="ae-u-boldest">Suculentas</h6>
            <p class="au-lh-3">Exposición a la luz y ventilación, suelo optimo, riégalas con frecuencia, aplíqueles abono y por ultimo hay que ubicarlas en el ambiente adecuado.</p>
            <!--<p class="au-lh-3">Nemo enim ipsam voluptatem quia voluptas</p>-->
          </div>
        </div>
        <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Home<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></p>

  